<ion-header>
  <ion-toolbar>
    <ion-title>bienvenida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cuerpo">
    <div class="titulo">
      <h1>Bienvenido/a {{dato}}</h1>
    </div>
    <div class="viaje">
      <p>Seleccione el tipo de viaje que desea realizar:</p>
      <ion-button full clear>Conducir un viaje</ion-button>
      <ion-button full [routerLink]="'#'">Unirse a un viaje</ion-button>
      <ion-button id="boton" expand="block" (click)="cerrar()">Cerrar sesion</ion-button>
    </div>
    
  </div>
</ion-content>
