<ion-header>
  <ion-toolbar>
    <div class="header">
      <ion-title>
        Te LLevoAPP
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cuerpo_fondo">
    <div class="cuerpo_titulo">
      <div class="titulo">
        <h1>Bienvenido/a {{dato}}</h1>
      </div>
    </div>
    <div class="cuerpo_centro">
      <div class="viaje">
        <p>Seleccione el tipo de viaje que desea realizar:</p>
        <ion-button expand="block" (click)="conducir()">Conducir viaje</ion-button>
        <ion-button expand="block" (click)="unirse()">Unirse a un viaje</ion-button>
        <ion-button id="boton" expand="block" (click)="cerrar()">Cerrar sesion</ion-button>
      </div>
    </div>
  </div>
</ion-content>
