.cuerpo {
    margin: 5%;
    margin-top: 20%;
}

.titulo h1{
    text-align: center;
}

.titulo {
    margin-bottom: 25%;
    margin-top: 10%;
}

.viaje {
    text-align: center;
}

.viaje ion-button{
    margin-top: 15%;
    text-decoration: none;
    text-align: center;
    display: block;
    block-size: 80px;
}