.cuerpo {
    margin: 5%;
}

.titulo h1{
    text-align: center;
}

.titulo {
    margin-bottom: 10%;
    margin-top: 10%;
}

.inicio_sesion ion-button{
    margin: 5%;
    text-decoration: none;
    text-align: center;
    display: block;
}

.inicio_sesion a{
    text-decoration: none;
    text-align: center;
    display: block;
}