.cuerpo {
    margin: 5%;
    margin-top: 20%;
}

.titulo h1{
    text-align: center;
}

.recuperar ion-item{
    margin-top: 10%;
}

.recuperar ion-button{
    margin: 5%;
    text-decoration: none;
    text-align: center;
    display: block;
}

.recuperar a{
    text-decoration: none;
    text-align: center;
    display: block;
}