<ion-header>
  <ion-toolbar>
    <ion-title>recup_contra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cuerpo">
    <div class="titulo">
      <h1>Recuperar Contraseña</h1>
    </div>
    <div class="recuperar">
      <form>
        <ion-item lines=full>
          <ion-label position="floating">Nombre de Usuario</ion-label>
          <ion-input type="text" required></ion-input>
        </ion-item>

        <ion-button type="submit" [routerLink]="['/ingreso-usuario']">Enviar</ion-button>
      </form>
    </div>
  </div>
</ion-content>
